# PySpark Tutorial - Dataframes
<div>
 <h2> CSCI 4283 / 5253 
  <IMG SRC="https://www.colorado.edu/cs/profiles/express/themes/cuspirit/logo.png" WIDTH=50 ALIGN="right"/> </h2>
</div>

Up to now, we've see the RDD interface to PySpark. The RDD is a building block for more capable data structures such as the **dataframe** and **database**. These data structures are part of the [PySpark SQL library](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html) which, as the name implies, is influenced by standard SQL practices and queries.

The PySpark library has the **dataframe API**, but it does not support the **database API** -- that's only accessible via the Scala and Java libraries and through SQL queries.

The **database** is effectively an SQL relation -- i.e. rows and columns with a specific schema. The **dataframe** takes a little futher and constructs a labeled dataframe similar to the [Python Pandas](https://pandas.pydata.org/) interface or the [R dplyr](https://cran.r-project.org/web/packages/dplyr/vignettes/dplyr.html) interface for R.

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
import numpy as np
import pandas as pd
import operator

We're going to use an airline information database as the example. You can download extended versions of the database [at this Dept. of Transportation website](https://www.transtats.bts.gov/DL_SelectFields.asp), but the data we're using is distributed with the course notes.

As with the RDD interface, we need a "context" to a remote machine. The [Spark SQL tutorial](https://spark.apache.org/docs/latest/sql-getting-started.html) has some information on this, but for complete information you need to look at the [Spark API documentation.](https://spark.apache.org/docs/latest/api/python/)

In this example, we're creating a location session (i.e. CPU's on JupyterHub).

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .master("local[*]")\
    .getOrCreate()

There are many ways to load data, including HDFS, a format called [Parquet](http://parquet.apache.org/), CSV files and so on. We'll use a compressed CSV file of the airline data.

In [3]:
flights = spark.read.load('airline-ontime-reporting.csv.gz',
            format="csv", sep=",", header=True,
            compression="gzip",
            inferSchema="true")

The dataframe has a **schema** or type for each entry. All entries must have the same type or we'll see operations fail.

In [4]:
flights.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY_OF_MONTH: integer (nullable = true)
 |-- DAY_OF_WEEK: integer (nullable = true)
 |-- OP_UNIQUE_CARRIER: string (nullable = true)
 |-- ORIGIN_AIRPORT_ID: integer (nullable = true)
 |-- ORIGIN_AIRPORT_SEQ_ID: integer (nullable = true)
 |-- ORIGIN_CITY_MARKET_ID: integer (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- DEST_AIRPORT_ID: integer (nullable = true)
 |-- DEST_AIRPORT_SEQ_ID: integer (nullable = true)
 |-- DEST_CITY_MARKET_ID: integer (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- ARR_TIME: integer (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- _c23: string (nullable = true)

In [6]:
flights.columns

['YEAR',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'OP_UNIQUE_CARRIER',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST',
 'DEST_CITY_NAME',
 'CRS_DEP_TIME',
 'DEP_DELAY',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLED',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'LATE_AIRCRAFT_DELAY',
 '_c23']

In [7]:
print("There are", len(flights.columns), "columns and ", flights.count(), "rows")

There are 24 columns and  583985 rows

In [8]:
flights.dtypes

[('YEAR', 'int'),
 ('MONTH', 'int'),
 ('DAY_OF_MONTH', 'int'),
 ('DAY_OF_WEEK', 'int'),
 ('OP_UNIQUE_CARRIER', 'string'),
 ('ORIGIN_AIRPORT_ID', 'int'),
 ('ORIGIN_AIRPORT_SEQ_ID', 'int'),
 ('ORIGIN_CITY_MARKET_ID', 'int'),
 ('ORIGIN', 'string'),
 ('ORIGIN_CITY_NAME', 'string'),
 ('DEST_AIRPORT_ID', 'int'),
 ('DEST_AIRPORT_SEQ_ID', 'int'),
 ('DEST_CITY_MARKET_ID', 'int'),
 ('DEST', 'string'),
 ('DEST_CITY_NAME', 'string'),
 ('CRS_DEP_TIME', 'int'),
 ('DEP_DELAY', 'double'),
 ('ARR_TIME', 'int'),
 ('ARR_DELAY', 'double'),
 ('CANCELLED', 'double'),
 ('CARRIER_DELAY', 'double'),
 ('WEATHER_DELAY', 'double'),
 ('LATE_AIRCRAFT_DELAY', 'double'),
 ('_c23', 'string')]

The schema is inferred, but it can also be defined explicitly.

Note that one column is labeled `_c23`, which is showing up as "null". Perhaps this is bad data import?

Lets look at some of the values.

In [9]:
flights.show(5, truncate=False)

+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+
|YEAR|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|ORIGIN_CITY_NAME|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CARRIER_DELAY|WEATHER_DELAY|LATE_AIRCRAFT_DELAY|_c23|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+
|2019|1    |19          |6          |9E               |13487            |1348702              |31650                |MSP   |Minneapolis, MN |11193          |1119302            |33105              |CVG |Cincinnati, OH|1556        |-10.0    |1832    |-25.0    |0.0      |null         |null         |null               |null|
|2019|1    |20          |7          |9E               |13487            |1348702              |31650                |MSP   |Minneapolis, MN |11193          |1119302            |33105              |CVG |Cincinnati, OH|1556        |-4.0     |1825    |-37.0    |0.0      |null         |null         |null               |null|
|2019|1    |21          |1          |9E               |13487            |1348702              |31650                |MSP   |Minneapolis, MN |11193          |1119302            |33105              |CVG |Cincinnati, OH|1556        |-9.0     |1845    |-17.0    |0.0      |null         |null         |null               |null|
|2019|1    |22          |2          |9E               |13487            |1348702              |31650                |MSP   |Minneapolis, MN |11193          |1119302            |33105              |CVG |Cincinnati, OH|1556        |-4.0     |1839    |-23.0    |0.0      |null         |null         |null               |null|
|2019|1    |23          |3          |9E               |13487            |1348702              |31650                |MSP   |Minneapolis, MN |11193          |1119302            |33105              |CVG |Cincinnati, OH|1556        |-6.0     |1850    |-12.0    |0.0      |null         |null         |null               |null|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+
only showing top 5 rows

Let's pull out the values in one column -- the `select` method can be used to produce a new dataframe with just that column as an entry.

In [11]:
flights.select('_c23').show(5)

+----+
|_c23|
+----+
|null|
|null|
|null|
|null|
|null|
+----+
only showing top 5 rows

And we can slice out multiple columns, similar to Pandas. Again, this produces a new dataframe.

In [12]:
flights.select(['year', '_c23']).show(5)

+----+----+
|year|_c23|
+----+----+
|2019|null|
|2019|null|
|2019|null|
|2019|null|
|2019|null|
+----+----+
only showing top 5 rows

Alternatively, we can produce a
[Column object which has its own methods](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html?highlight=column#pyspark.sql.Column). These are typically used in **column expressions** that produce indicies that can be used when selecting or filtering data.

For example, let's find all the rows where the mystery `_c23` column is not null.

In [13]:
flights.filter( flights._c23.isNotNull()).show(5)

+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+
|YEAR|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|ORIGIN_CITY_NAME|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CARRIER_DELAY|WEATHER_DELAY|LATE_AIRCRAFT_DELAY|_c23|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+

Hmm.... This liooks like all the values are null. We could confirm this by selecting the column and looking at the distinct elements.

In [14]:
flights.select('_c23').distinct().show()

+----+
|_c23|
+----+
|null|
+----+

This this column is null, lets just drop it.

In [15]:
newFlights = flights.drop('_c23')

In [16]:
newFlights.show(5)

+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
|YEAR|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|ORIGIN_CITY_NAME|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CARRIER_DELAY|WEATHER_DELAY|LATE_AIRCRAFT_DELAY|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
|2019|    1|          19|          6|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|    -10.0|    1832|    -25.0|      0.0|         null|         null|               null|
|2019|    1|          20|          7|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -4.0|    1825|    -37.0|      0.0|         null|         null|               null|
|2019|    1|          21|          1|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -9.0|    1845|    -17.0|      0.0|         null|         null|               null|
|2019|    1|          22|          2|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -4.0|    1839|    -23.0|      0.0|         null|         null|               null|
|2019|    1|          23|          3|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -6.0|    1850|    -12.0|      0.0|         null|         null|               null|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
only showing top 5 rows

We often work with multiple columns of data in a dataframe. Some methods just use column names (corr, cov, crosstab, describe) and others can use column references, such as `newAir.ORIGIN`.

There are also a number of methods that work on columns or column expressions -- we've been using `select` already.

* `cube(*cols)`: column names (string) or column expressions or **both**.
* `drop(*cols)`: ***a list of column names OR a single column expression.***
* `groupBy(*cols)`: column name (string) or column expression or **both**.
* `rollup(*cols)`: column name (string) or column expression or **both**.
* `select(*cols)`: column name (string) or column expression or **both**.
* `sort(*cols, **kwargs)`: column name (string) or column expression or **both**.
* `sortWithinPartitions(*cols, **kwargs)`: column name (string) or column expression or **both**.
* `orderBy(*cols, **kwargs)`: column name (string) or column expression or **both**.
* `sampleBy(col, fractions, sed=None)`: a column name.
* `toDF(*cols)`: **a list of column names (string).**
* `withColumn(colName, col)`: `colName` refers to column name; `col` refers to a column expression.
* `withColumnRenamed(existing, new)`: takes column names as arguments.
* `filter(condition)`: ***condition** refers to a column expression that returns `types.BooleanType` of values.

In [17]:
newFlights.groupBy(newFlights.ORIGIN).count().collect()

[Row(ORIGIN='BGM', count=61),
 Row(ORIGIN='PSE', count=65),
 Row(ORIGIN='INL', count=53),
 Row(ORIGIN='MSY', count=4597),
 Row(ORIGIN='PPG', count=11),
 Row(ORIGIN='GEG', count=934),
 Row(ORIGIN='DRT', count=61),
 Row(ORIGIN='SNA', count=3416),
 Row(ORIGIN='BUR', count=2377),
 Row(ORIGIN='GRB', count=357),
 Row(ORIGIN='GTF', count=117),
 Row(ORIGIN='IDA', count=134),
 Row(ORIGIN='GRR', count=1506),
 Row(ORIGIN='LWB', count=52),
 Row(ORIGIN='PVU', count=46),
 Row(ORIGIN='JLN', count=62),
 Row(ORIGIN='EUG', count=313),
 Row(ORIGIN='PSG', count=62),
 Row(ORIGIN='GSO', count=1233),
 Row(ORIGIN='PVD', count=1355),
 Row(ORIGIN='MYR', count=571),
 Row(ORIGIN='OAK', count=4186),
 Row(ORIGIN='EAR', count=53),
 Row(ORIGIN='MSN', count=1027),
 Row(ORIGIN='FSM', count=167),
 Row(ORIGIN='FAR', count=431),
 Row(ORIGIN='MQT', count=93),
 Row(ORIGIN='COD', count=60),
 Row(ORIGIN='BTM', count=58),
 Row(ORIGIN='SCC', count=85),
 Row(ORIGIN='ESC', count=54),
 Row(ORIGIN='DCA', count=11839),
 Row(ORIGIN='RFD', count=48),
 Row(ORIGIN='GTR', count=83),
 Row(ORIGIN='CID', count=722),
 Row(ORIGIN='SWO', count=62),
 Row(ORIGIN='MLU', count=233),
 Row(ORIGIN='LWS', count=64),
 Row(ORIGIN='PIB', count=62),
 Row(ORIGIN='WRG', count=62),
 Row(ORIGIN='CIU', count=58),
 Row(ORIGIN='HLN', count=110),
 Row(ORIGIN='IAG', count=48),
 Row(ORIGIN='LEX', count=778),
 Row(ORIGIN='RDM', count=270),
 Row(ORIGIN='JMS', count=84),
 Row(ORIGIN='ORF', count=1928),
 Row(ORIGIN='SCE', count=89),
 Row(ORIGIN='EVV', count=347),
 Row(ORIGIN='KTN', count=177),
 Row(ORIGIN='CRW', count=338),
 Row(ORIGIN='CWA', count=192),
 Row(ORIGIN='OGS', count=11),
 Row(ORIGIN='SAV', count=1164),
 Row(ORIGIN='GCK', count=62),
 Row(ORIGIN='TRI', count=176),
 Row(ORIGIN='CDV', count=60),
 Row(ORIGIN='CMH', count=3697),
 Row(ORIGIN='SPN', count=41),
 Row(ORIGIN='LBF', count=53),
 Row(ORIGIN='CAK', count=544),
 Row(ORIGIN='TYR', count=116),
 Row(ORIGIN='ADK', count=9),
 Row(ORIGIN='CHO', count=469),
 Row(ORIGIN='MOB', count=438),
 Row(ORIGIN='PNS', count=906),
 Row(ORIGIN='LIH', count=1136),
 Row(ORIGIN='IAH', count=14598),
 Row(ORIGIN='HNL', count=3933),
 Row(ORIGIN='SLN', count=80),
 Row(ORIGIN='SHV', count=516),
 Row(ORIGIN='ERI', count=76),
 Row(ORIGIN='CVG', count=3711),
 Row(ORIGIN='SJC', count=4925),
 Row(ORIGIN='TOL', count=172),
 Row(ORIGIN='BUF', count=1911),
 Row(ORIGIN='LGA', count=13872),
 Row(ORIGIN='TLH', count=491),
 Row(ORIGIN='CDC', count=54),
 Row(ORIGIN='ACT', count=116),
 Row(ORIGIN='HPN', count=910),
 Row(ORIGIN='RDD', count=96),
 Row(ORIGIN='AUS', count=4947),
 Row(ORIGIN='MLI', count=426),
 Row(ORIGIN='GCC', count=58),
 Row(ORIGIN='SJU', count=2308),
 Row(ORIGIN='ATW', count=390),
 Row(ORIGIN='DHN', count=115),
 Row(ORIGIN='AVL', count=619),
 Row(ORIGIN='GJT', count=287),
 Row(ORIGIN='LGB', count=1210),
 Row(ORIGIN='LYH', count=48),
 Row(ORIGIN='GFK', count=168),
 Row(ORIGIN='BFL', count=179),
 Row(ORIGIN='CNY', count=52),
 Row(ORIGIN='SRQ', count=677),
 Row(ORIGIN='RNO', count=1545),
 Row(ORIGIN='EYW', count=539),
 Row(ORIGIN='SBN', count=569),
 Row(ORIGIN='BJI', count=62),
 Row(ORIGIN='TTN', count=204),
 Row(ORIGIN='JAC', count=416),
 Row(ORIGIN='RST', count=308),
 Row(ORIGIN='CHS', count=1703),
 Row(ORIGIN='HGR', count=10),
 Row(ORIGIN='HRL', count=330),
 Row(ORIGIN='TUL', count=1408),
 Row(ORIGIN='RSW', count=3823),
 Row(ORIGIN='AMA', count=423),
 Row(ORIGIN='ISP', count=474),
 Row(ORIGIN='BOS', count=11430),
 Row(ORIGIN='MAF', count=721),
 Row(ORIGIN='MLB', count=211),
 Row(ORIGIN='EWR', count=10522),
 Row(ORIGIN='BIS', count=289),
 Row(ORIGIN='LAS', count=13209),
 Row(ORIGIN='OGD', count=8),
 Row(ORIGIN='JAN', count=658),
 Row(ORIGIN='ITO', count=479),
 Row(ORIGIN='FAI', count=353),
 Row(ORIGIN='IMT', count=58),
 Row(ORIGIN='UIN', count=58),
 Row(ORIGIN='XNA', count=1048),
 Row(ORIGIN='HHH', count=88),
 Row(ORIGIN='DLH', count=180),
 Row(ORIGIN='DEN', count=18507),
 Row(ORIGIN='EWN', count=181),
 Row(ORIGIN='RHI', count=62),
 Row(ORIGIN='SGU', count=301),
 Row(ORIGIN='ALB', count=964),
 Row(ORIGIN='CPR', count=70),
 Row(ORIGIN='LNK', count=123),
 Row(ORIGIN='GRI', count=99),
 Row(ORIGIN='OME', count=62),
 Row(ORIGIN='IAD', count=5237),
 Row(ORIGIN='BOI', count=1576),
 Row(ORIGIN='PSP', count=1321),
 Row(ORIGIN='SBA', count=551),
 Row(ORIGIN='MEI', count=93),
 Row(ORIGIN='LAR', count=53),
 Row(ORIGIN='HOB', count=58),
 Row(ORIGIN='DRO', count=238),
 Row(ORIGIN='BRD', count=54),
 Row(ORIGIN='BRO', count=188),
 Row(ORIGIN='BMI', count=233),
 Row(ORIGIN='RKS', count=62),
 Row(ORIGIN='SEA', count=10230),
 Row(ORIGIN='CMI', count=204),
 Row(ORIGIN='LAN', count=255),
 Row(ORIGIN='VEL', count=53),
 Row(ORIGIN='LRD', count=193),
 Row(ORIGIN='PBG', count=112),
 Row(ORIGIN='PSM', count=33),
 Row(ORIGIN='VLD', count=87),
 Row(ORIGIN='HYS', count=107),
 Row(ORIGIN='MCI', count=4458),
 Row(ORIGIN='FLG', count=117),
 Row(ORIGIN='GRK', count=250),
 Row(ORIGIN='TVC', count=231),
 Row(ORIGIN='BNA', count=6208),
 Row(ORIGIN='CLT', count=19100),
 Row(ORIGIN='CLL', count=179),
 Row(ORIGIN='CGI', count=79),
 Row(ORIGIN='BLI', count=187),
 Row(ORIGIN='PSC', count=142),
 Row(ORIGIN='ORH', count=93),
 Row(ORIGIN='PBI', count=2462),
 Row(ORIGIN='ABQ', count=1731),
 Row(ORIGIN='PIE', count=548),
 Row(ORIGIN='SDF', count=1787),
 Row(ORIGIN='ART', count=62),
 Row(ORIGIN='LAW', count=105),
 Row(ORIGIN='SCK', count=52),
 Row(ORIGIN='ACV', count=129),
 Row(ORIGIN='BDL', count=2390),
 Row(ORIGIN='DAL', count=6216),
 Row(ORIGIN='MRY', count=365),
 Row(ORIGIN='ITH', count=70),
 Row(ORIGIN='DBQ', count=90),
 Row(ORIGIN='USA', count=73),
 Row(ORIGIN='CLE', count=3902),
 Row(ORIGIN='PDX', count=4767),
 Row(ORIGIN='MIA', count=7901),
 Row(ORIGIN='MFR', count=349),
 Row(ORIGIN='TWF', count=127),
 Row(ORIGIN='BWI', count=7772),
 Row(ORIGIN='TPA', count=6626),
 Row(ORIGIN='APN', count=53),
 Row(ORIGIN='CMX', count=62),
 Row(ORIGIN='PRC', count=62),
 Row(ORIGIN='OKC', count=1883),
 Row(ORIGIN='ROA', count=209),
 Row(ORIGIN='SMF', count=3983),
 Row(ORIGIN='SPI', count=129),
 Row(ORIGIN='OTH', count=31),
 Row(ORIGIN='BRW', count=62),
 Row(ORIGIN='SFB', count=697),
 Row(ORIGIN='ABI', count=170),
 Row(ORIGIN='BFF', count=53),
 Row(ORIGIN='ELM', count=34),
 Row(ORIGIN='MBS', count=191),
 Row(ORIGIN='PHX', count=14761),
 Row(ORIGIN='FCA', count=195),
 Row(ORIGIN='ABR', count=62),
 Row(ORIGIN='DVL', count=53),
 Row(ORIGIN='PWM', count=737),
 Row(ORIGIN='STL', count=5349),
 Row(ORIGIN='ABY', count=84),
 Row(ORIGIN='BET', count=70),
 Row(ORIGIN='DFW', count=23063),
 Row(ORIGIN='ABE', count=339),
 Row(ORIGIN='MHT', count=617),
 Row(ORIGIN='TXK', count=87),
 Row(ORIGIN='GSP', count=1194),
 Row(ORIGIN='LSE', count=152),
 Row(ORIGIN='MMH', count=93),
 Row(ORIGIN='STX', count=88),
 Row(ORIGIN='FAY', count=266),
 Row(ORIGIN='HDN', count=258),
 Row(ORIGIN='GUC', count=44),
 Row(ORIGIN='LBB', count=539),
 Row(ORIGIN='EKO', count=58),
 Row(ORIGIN='CRP', count=441),
 Row(ORIGIN='EGE', count=482),
 Row(ORIGIN='HVN', count=69),
 Row(ORIGIN='FSD', count=587),
 Row(ORIGIN='SWF', count=119),
 Row(ORIGIN='SUN', count=193),
 Row(ORIGIN='BQK', count=84),
 Row(ORIGIN='CSG', count=83),
 Row(ORIGIN='SFO', count=13689),
 Row(ORIGIN='MEM', count=1936),
 Row(ORIGIN='SAF', count=114),
 Row(ORIGIN='ELP', count=1335),
 Row(ORIGIN='BHM', count=1422),
 Row(ORIGIN='ATL', count=31155),
 Row(ORIGIN='FNT', count=280),
 Row(ORIGIN='FLL', count=8696),
 Row(ORIGIN='PIH', count=93),
 Row(ORIGIN='AZA', count=454),
 Row(ORIGIN='RIC', count=1932),
 Row(ORIGIN='LCK', count=41),
 Row(ORIGIN='PHF', count=117),
 Row(ORIGIN='DAY', count=1061),
 Row(ORIGIN='OMA', count=2038),
 Row(ORIGIN='SJT', count=134),
 Row(ORIGIN='LCH', count=169),
 Row(ORIGIN='STC', count=18),
 Row(ORIGIN='VPS', count=494),
 Row(ORIGIN='BPT', count=81),
 Row(ORIGIN='MHK', count=139),
 Row(ORIGIN='LIT', count=1035),
 Row(ORIGIN='CAE', count=625),
 Row(ORIGIN='FAT', count=976),
 Row(ORIGIN='ICT', count=814),
 Row(ORIGIN='ECP', count=451),
 Row(ORIGIN='ORD', count=26216),
 Row(ORIGIN='AVP', count=237),
 Row(ORIGIN='LBL', count=53),
 Row(ORIGIN='LBE', count=81),
 Row(ORIGIN='BTV', count=717),
 Row(ORIGIN='COU', count=186),
 Row(ORIGIN='MKG', count=62),
 Row(ORIGIN='AEX', count=255),
 Row(ORIGIN='SPS', count=88),
 Row(ORIGIN='BIL', count=263),
 Row(ORIGIN='ILM', count=548),
 Row(ORIGIN='SMX', count=17),
 Row(ORIGIN='PUB', count=80),
 Row(ORIGIN='PIA', count=367),
 Row(ORIGIN='GUM', count=72),
 Row(ORIGIN='RDU', count=4769),
 Row(ORIGIN='BQN', count=196),
 Row(ORIGIN='MFE', count=408),
 Row(ORIGIN='HIB', count=54),
 Row(ORIGIN='MKE', count=2495),
 Row(ORIGIN='SYR', count=1124),
 Row(ORIGIN='BLV', count=58),
 Row(ORIGIN='ISN', count=65),
 Row(ORIGIN='HSV', count=712),
 Row(ORIGIN='LFT', count=418),
 Row(ORIGIN='PIT', count=3970),
 Row(ORIGIN='TUS', count=1772),
 Row(ORIGIN='MTJ', count=212),
 Row(ORIGIN='ROW', count=109),
 Row(ORIGIN='ACY', count=298),
 Row(ORIGIN='AZO', count=147),
 Row(ORIGIN='MDW', count=6410),
 Row(ORIGIN='PLN', count=76),
 Row(ORIGIN='OAJ', count=262),
 Row(ORIGIN='COS', count=713),
 Row(ORIGIN='CKB', count=67),
 Row(ORIGIN='JNU', count=321),
 Row(ORIGIN='IND', count=3867),
 Row(ORIGIN='ALO', count=54),
 Row(ORIGIN='KOA', count=1196),
 Row(ORIGIN='EAU', count=62),
 Row(ORIGIN='GPT', count=361),
 Row(ORIGIN='MGM', count=295),
 Row(ORIGIN='OWB', count=9),
 Row(ORIGIN='DTW', count=12172),
 Row(ORIGIN='CHA', count=763),
 Row(ORIGIN='TYS', count=1350),
 Row(ORIGIN='HOU', count=4998),
 Row(ORIGIN='YUM', count=115),
 Row(ORIGIN='ADQ', count=53),
 Row(ORIGIN='MDT', count=499),
 Row(ORIGIN='ONT', count=1662),
 Row(ORIGIN='FWA', count=581),
 Row(ORIGIN='JAX', count=2701),
 Row(ORIGIN='STS', count=153),
 Row(ORIGIN='MSP', count=12180),
 Row(ORIGIN='MOT', count=143),
 Row(ORIGIN='LAX', count=17988),
 Row(ORIGIN='HTS', count=20),
 Row(ORIGIN='BGR', count=190),
 Row(ORIGIN='BTR', count=616),
 Row(ORIGIN='SIT', count=87),
 Row(ORIGIN='ROC', count=1111),
 Row(ORIGIN='MCO', count=12045),
 Row(ORIGIN='AGS', count=339),
 Row(ORIGIN='SGF', count=668),
 Row(ORIGIN='OTZ', count=62),
 Row(ORIGIN='SAN', count=7493),
 Row(ORIGIN='BZN', count=581),
 Row(ORIGIN='GGG', count=59),
 Row(ORIGIN='SHD', count=58),
 Row(ORIGIN='YAK', count=60),
 Row(ORIGIN='JFK', count=10485),
 Row(ORIGIN='SUX', count=116),
 Row(ORIGIN='ANC', count=1317),
 Row(ORIGIN='DAB', count=260),
 Row(ORIGIN='PAH', count=107),
 Row(ORIGIN='GNV', count=357),
 Row(ORIGIN='MSO', count=213),
 Row(ORIGIN='CYS', count=31),
 Row(ORIGIN='PHL', count=9087),
 Row(ORIGIN='OGG', count=2094),
 Row(ORIGIN='PGD', count=423),
 Row(ORIGIN='DSM', count=1358),
 Row(ORIGIN='SAT', count=3258),
 Row(ORIGIN='SLC', count=9339),
 Row(ORIGIN='STT', count=349),
 Row(ORIGIN='RAP', count=266),
 Row(ORIGIN='SBP', count=411),
 Row(ORIGIN='ASE', count=921)]

In [19]:
newFlights.filter(newFlights.ORIGIN == 'DEN' ).show(5)

+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+---------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
|YEAR|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|ORIGIN_CITY_NAME|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST| DEST_CITY_NAME|CRS_DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CARRIER_DELAY|WEATHER_DELAY|LATE_AIRCRAFT_DELAY|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+---------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
|2019|    1|           1|          2|               AA|            11292|              1129202|                30325|   DEN|      Denver, CO|          12892|            1289208|              32575| LAX|Los Angeles, CA|        2025|     -4.0|    2124|    -41.0|      0.0|         null|         null|               null|
|2019|    1|           2|          3|               AA|            11292|              1129202|                30325|   DEN|      Denver, CO|          12892|            1289208|              32575| LAX|Los Angeles, CA|        2025|     -5.0|    2206|      1.0|      0.0|         null|         null|               null|
|2019|    1|           3|          4|               AA|            11292|              1129202|                30325|   DEN|      Denver, CO|          12892|            1289208|              32575| LAX|Los Angeles, CA|        2025|     -5.0|    2141|    -24.0|      0.0|         null|         null|               null|
|2019|    1|           4|          5|               AA|            11292|              1129202|                30325|   DEN|      Denver, CO|          12892|            1289208|              32575| LAX|Los Angeles, CA|        2025|     -5.0|    2209|      4.0|      0.0|         null|         null|               null|
|2019|    1|           5|          6|               AA|            11292|              1129202|                30325|   DEN|      Denver, CO|          12892|            1289208|              32575| LAX|Los Angeles, CA|        2025|     -4.0|    2229|     24.0|      0.0|          0.0|          0.0|                0.0|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+---------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+
only showing top 5 rows

## Doing Joins

Again, everything boils down to a join in "big data". We can do joins between two dataframes much as in Pandas. Let's load a second dataframe that contains airline identifirs.

In [20]:
airlines = spark.read.load('unique-carriers.csv.gz',
            format="csv", sep=",", header=True,
            compression="gzip",
            inferSchema="true")

In [21]:
airlines.show(5)

+----+--------------------+
|Code|         Description|
+----+--------------------+
| 02Q|       Titan Airways|
| 04Q|  Tradewind Aviation|
| 05Q| Comlux Aviation, AG|
| 06Q|Master Top Linhas...|
| 07Q| Flair Airlines Ltd.|
+----+--------------------+
only showing top 5 rows

In [22]:
flights.select('OP_UNIQUE_CARRIER').show(5)

+-----------------+
|OP_UNIQUE_CARRIER|
+-----------------+
|               9E|
|               9E|
|               9E|
|               9E|
|               9E|
+-----------------+
only showing top 5 rows

In [23]:
flights.join(airlines, airlines.Code == flights.OP_UNIQUE_CARRIER).show(5)

+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+----+-----------------+
|YEAR|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|ORIGIN_AIRPORT_ID|ORIGIN_AIRPORT_SEQ_ID|ORIGIN_CITY_MARKET_ID|ORIGIN|ORIGIN_CITY_NAME|DEST_AIRPORT_ID|DEST_AIRPORT_SEQ_ID|DEST_CITY_MARKET_ID|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CARRIER_DELAY|WEATHER_DELAY|LATE_AIRCRAFT_DELAY|_c23|Code|      Description|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+----+-----------------+
|2019|    1|          19|          6|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|    -10.0|    1832|    -25.0|      0.0|         null|         null|               null|null|  9E|Endeavor Air Inc.|
|2019|    1|          20|          7|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -4.0|    1825|    -37.0|      0.0|         null|         null|               null|null|  9E|Endeavor Air Inc.|
|2019|    1|          21|          1|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -9.0|    1845|    -17.0|      0.0|         null|         null|               null|null|  9E|Endeavor Air Inc.|
|2019|    1|          22|          2|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -4.0|    1839|    -23.0|      0.0|         null|         null|               null|null|  9E|Endeavor Air Inc.|
|2019|    1|          23|          3|               9E|            13487|              1348702|                31650|   MSP| Minneapolis, MN|          11193|            1119302|              33105| CVG|Cincinnati, OH|        1556|     -6.0|    1850|    -12.0|      0.0|         null|         null|               null|null|  9E|Endeavor Air Inc.|
+----+-----+------------+-----------+-----------------+-----------------+---------------------+---------------------+------+----------------+---------------+-------------------+-------------------+----+--------------+------------+---------+--------+---------+---------+-------------+-------------+-------------------+----+----+-----------------+
only showing top 5 rows

## Escape back into the world of RDD's

A dataframe is composed of `Row` objects and a dataframe (and database) is just a collection of those rows. You can pull out the row objects as RDD's and then operate on those, much as we did before.

In [24]:
flights.rdd.filter(lambda x: x['DEST'] == 'DEN').take(5)

[Row(YEAR=2019, MONTH=1, DAY_OF_MONTH=1, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='AA', ORIGIN_AIRPORT_ID=12892, ORIGIN_AIRPORT_SEQ_ID=1289208, ORIGIN_CITY_MARKET_ID=32575, ORIGIN='LAX', ORIGIN_CITY_NAME='Los Angeles, CA', DEST_AIRPORT_ID=11292, DEST_AIRPORT_SEQ_ID=1129202, DEST_CITY_MARKET_ID=30325, DEST='DEN', DEST_CITY_NAME='Denver, CO', CRS_DEP_TIME=1540, DEP_DELAY=-4.0, ARR_TIME=1915, ARR_DELAY=15.0, CANCELLED=0.0, CARRIER_DELAY=0.0, WEATHER_DELAY=0.0, LATE_AIRCRAFT_DELAY=0.0, _c23=None),
 Row(YEAR=2019, MONTH=1, DAY_OF_MONTH=2, DAY_OF_WEEK=3, OP_UNIQUE_CARRIER='AA', ORIGIN_AIRPORT_ID=12892, ORIGIN_AIRPORT_SEQ_ID=1289208, ORIGIN_CITY_MARKET_ID=32575, ORIGIN='LAX', ORIGIN_CITY_NAME='Los Angeles, CA', DEST_AIRPORT_ID=11292, DEST_AIRPORT_SEQ_ID=1129202, DEST_CITY_MARKET_ID=30325, DEST='DEN', DEST_CITY_NAME='Denver, CO', CRS_DEP_TIME=1540, DEP_DELAY=-3.0, ARR_TIME=1908, ARR_DELAY=8.0, CANCELLED=0.0, CARRIER_DELAY=None, WEATHER_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c23=None),
 Row(YEAR=2019, MONTH=1, DAY_OF_MONTH=3, DAY_OF_WEEK=4, OP_UNIQUE_CARRIER='AA', ORIGIN_AIRPORT_ID=12892, ORIGIN_AIRPORT_SEQ_ID=1289208, ORIGIN_CITY_MARKET_ID=32575, ORIGIN='LAX', ORIGIN_CITY_NAME='Los Angeles, CA', DEST_AIRPORT_ID=11292, DEST_AIRPORT_SEQ_ID=1129202, DEST_CITY_MARKET_ID=30325, DEST='DEN', DEST_CITY_NAME='Denver, CO', CRS_DEP_TIME=1540, DEP_DELAY=-2.0, ARR_TIME=1904, ARR_DELAY=4.0, CANCELLED=0.0, CARRIER_DELAY=None, WEATHER_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c23=None),
 Row(YEAR=2019, MONTH=1, DAY_OF_MONTH=4, DAY_OF_WEEK=5, OP_UNIQUE_CARRIER='AA', ORIGIN_AIRPORT_ID=12892, ORIGIN_AIRPORT_SEQ_ID=1289208, ORIGIN_CITY_MARKET_ID=32575, ORIGIN='LAX', ORIGIN_CITY_NAME='Los Angeles, CA', DEST_AIRPORT_ID=11292, DEST_AIRPORT_SEQ_ID=1129202, DEST_CITY_MARKET_ID=30325, DEST='DEN', DEST_CITY_NAME='Denver, CO', CRS_DEP_TIME=1540, DEP_DELAY=2.0, ARR_TIME=1855, ARR_DELAY=-5.0, CANCELLED=0.0, CARRIER_DELAY=None, WEATHER_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c23=None),
 Row(YEAR=2019, MONTH=1, DAY_OF_MONTH=5, DAY_OF_WEEK=6, OP_UNIQUE_CARRIER='AA', ORIGIN_AIRPORT_ID=12892, ORIGIN_AIRPORT_SEQ_ID=1289208, ORIGIN_CITY_MARKET_ID=32575, ORIGIN='LAX', ORIGIN_CITY_NAME='Los Angeles, CA', DEST_AIRPORT_ID=11292, DEST_AIRPORT_SEQ_ID=1129202, DEST_CITY_MARKET_ID=30325, DEST='DEN', DEST_CITY_NAME='Denver, CO', CRS_DEP_TIME=1540, DEP_DELAY=22.0, ARR_TIME=1906, ARR_DELAY=6.0, CANCELLED=0.0, CARRIER_DELAY=None, WEATHER_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c23=None)]

In [25]:
onlyDen = spark.createDataFrame(flights.rdd.filter(lambda x: x['DEST'] == 'DEN'))

ValueError: Some of types cannot be determined by the first 100 rows, please try again with sampling

In [26]:
onlyDen = spark.createDataFrame(flights.rdd.filter(lambda x: x['DEST'] == 'DEN'), 
                                samplingRatio=0.5)

## Using SQL

In [27]:
from pyspark.sql import SQLContext

sqlContext = SQLContext( spark.sparkContext )

In [28]:
sqlContext.registerDataFrameAsTable(onlyDen, "onlyDen")

In [29]:
sqlContext.registerDataFrameAsTable(flights, "flights")

In [30]:
sqlContext.sql("SELECT COUNT(*) from onlyDEN").show(5)

+--------+
|count(1)|
+--------+
|   18498|
+--------+

In [31]:
sqlContext.sql("SELECT COUNT(*) from flights WHERE DEST='DEN'").show(5)

+--------+
|count(1)|
+--------+
|   18498|
+--------+